<div class="container-fluid">
  <h1 class="page-header mb-5">Создание категории доходов</h1>

  <form class="create-category-form col-lg-4">
    <div class="mb-3">
      <input type="text"
             class="form-control px-3 py-2"
             id="category-name"
             placeholder="Название...">
      <span id="category-error" class="error invalid-feedback">Заполните название категории</span>
    </div>

    <div class="d-flex gap-2 mt-4">
      <button type="submit" class="btn btn-success" id="create-button">Создать</button>
      <button type="button" class="btn btn-danger" id="cancel-button">Отмена</button>
    </div>
  </form>
</div>
