<div class="container-fluid">
  <h1 class="page-header mb-5">Доходы</h1>

  <div class="row g-4" id="incomes-cards-container">
    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Депозиты</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Зарплата</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Сбережения</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Инвестиции</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <a href="/incomes-create-category" class="card border rounded-3 p-3 h-100 d-flex align-items-center justify-content-center text-decoration-none border-secondary-subtle bg-light bg-opacity-10" style="min-height: 125px;">
        <div class="text-secondary opacity-50 display-6">+</div>
      </a>
    </div>
  </div>
</div>
