<div class="container-fluid">
  <h1 class="page-header mb-5">Редактирование дохода</h1>

  <form class="create-category-form d-flex flex-column gap-2 col-lg-4">
    <div>
      <input type="text"
             class="form-control px-3 py-2"
             id="income-type"
             placeholder="Тип...">
    </div>
    <div>
      <input type="text"
             class="form-control px-3 py-2"
             id="income"
             placeholder="Категория...">
    </div>
    <div>
      <input type="text"
             class="form-control px-3 py-2"
             id="income-sum"
             placeholder="Сумма в $...">
    </div>
    <div>
      <input type="text"
             class="form-control px-3 py-2"
             id="income-date"
             placeholder="Дата...">
    </div>
    <div class="mb-3">
      <input type="text"
             class="form-control px-3 py-2"
             id="income-comment"
             placeholder="Комментарий...">
    </div>

    <div class="d-flex gap-2 my-4">
      <button type="submit" class="btn btn-success" id="save-income-button">Создать</button>
      <button type="button" class="btn btn-danger" id="dismiss-income-button">Отмена</button>
    </div>
  </form>
</div>
