<div class="container-fluid">
  <h1 class="page-header mb-5">Расходы</h1>

  <div class="row g-4" id="outcomes-cards-container">
    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Еда</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Жильё</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Здоровье</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Кафе</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Авто</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Одежда</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Развлечения</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Счета</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <div class="card border rounded-3 p-3 shadow-sm h-100">
        <div class="card-body p-0">
          <h3 class="card-title mb-3">Спорт</h3>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-12 col-lg-6 col-xxl-4">
      <a href="/outcomes-create-category" class="card border rounded-3 p-3 h-100 d-flex align-items-center justify-content-center text-decoration-none border-secondary-subtle bg-light bg-opacity-10" style="min-height: 125px;">
        <div class="text-secondary opacity-50 display-6">+</div>
      </a>
    </div>
  </div>
</div>

